<header class="container_24">
    <div id="logo">
		<%= link_to image_tag("img/logo.png", :alt => "Endowr Logo"), '#' %>
    </div>
    <nav class="grid_17">
        <ul>
            <li>
				<%= link_to "Home", '#'%>
            </li>
            <li>
				<%= link_to "Our Story", '#'%>
            </li>
            <li>
				<%= link_to "How It Works", '#'%>
            </li>
        </ul>
    </nav>
    <menu>
        <ul id="headSocial">
            <li>
				<%= link_to image_tag("img/icons/facebook.png", :alt => "Facebook"), "http://www.facebook.com/endowr"%>
            </li>
            <li>
				<%= link_to image_tag("img/icons/twitter.png", :alt => "Twitter"), "http://www.twitter.com/endowr"%>
            </li>
            <li>
				<%= link_to "Login", '#'%>
            </li>
        </ul>
    </menu>
    <form action="" method="get" class="grid_7">
        <p>
            Search<input type="text" name="search" value="" id="search" class="rounded5" />
        </p>
    </form>
</header>