<!DOCTYPE HTML>
<html lang="en" class="no-js">
   <head>
      <meta charset="UTF-8">
      <!-- www.phpied.com/conditional-comments-block-downloads/ -->
      <!--[if IE]><![endif]-->
	  <script> document.documentElement.className = 'js'; </script>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

      <link rel="shortcut icon" href="img/favicon.ico">
      <link rel="apple-touch-icon" href="/apple-touch-icon.png">
	
	
		<%= stylesheet_link_tag "application.css" %>
		<%= stylesheet_link_tag :defaults %>

      <!-- For the less-enabled mobile browsers like Opera Mini -->
		<%= stylesheet_link_tag 'handheld.css?v=1'%>

      <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="js/selectivizr.js"></script>
      <![endif]-->
      
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

      <title> Endowr | Endorse Potential. Empower Students. </title>
   </head>
<body>
    <header class="container_24">
        <div id="logo">
			<%= link_to image_tag("img/logo.png", :alt => "Endowr Logo"), '#' %>
        </div>
        <nav class="grid_17">
            <ul>
                <li>
					<%= link_to "Home", '#'%>
                </li>
                <li>
					<%= link_to "Our Story", '#'%>
                </li>
                <li>
					<%= link_to "How It Works", '#'%>
                </li>
            </ul>
        </nav>
        <menu>
            <ul id="headSocial">
                <li>
					<%= link_to image_tag("img/icons/facebook.png", :alt => "Facebook"), "http://www.facebook.com/endowr"%>
                </li>
                <li>
					<%= link_to image_tag("img/icons/twitter.png", :alt => "Twitter"), "http://www.twitter.com/endowr" %>
                </li>
                <li>
					<%= link_to "Login", '#'%>
                </li>
            </ul>
        </menu>
        <form action="" method="get" class="grid_7">
            <p>
                Search<input type="text" name="search" value="" id="search" class="rounded5" />
            </p>
        </form>
    </header> 
	<div id = "mainContainer">
		<%= yield %>
	</div>
</body>
</html>

